<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">      <!-- css faila pieslēgšana -->
    <script src="/js/main.js" defer></script>       <!-- JavaScript faila pieslēgšana -->

    <title>Portfolio</title>

</head>
<body>
    <h1>Informācija par mani</h1>
    <p th:text="${name}" id="myName"></p>
    <p th:text="${surname}" id="mySurname"></p>
    <p th:text="${age}" id="myAge"></p>
    <p th:text="${group}" id="myGroup"></p>
    
    <h3>About lapa!</h3>

    <h3 th:text="'Sveiki, tevi sauc - ' + ${param.name}"></h3>
    <p th:text="'Sveiki, tavs vecums ir - ' + ${param.age}"></p>

</body>
</html>
